otelcol.receiver.filelog "worker" {
  include  = __LOGS_FILE_INCLUDE__
  start_at = "end"

  output {
    logs = [otelcol.processor.batch.worker_logs.input]
  }
}

otelcol.processor.batch "worker_logs" {
  output {
    logs = [otelcol.exporter.otlphttp.worker_logs.input]
  }
}

otelcol.exporter.otlphttp "worker_logs" {
  encoding = "proto"
  client {
    endpoint    = "__LOGS_OTLP_HTTP_ENDPOINT__"
    compression = "__LOGS_OTLP_COMPRESSION__"
    timeout     = "__LOGS_OTLP_TIMEOUT__"
    tls {
      insecure             = __LOGS_OTLP_INSECURE__
      insecure_skip_verify = __LOGS_OTLP_INSECURE_SKIP_VERIFY__
    }
  }
}
