prometheus.scrape "vllm" {
  targets = [
    {
      "__address__" = "__METRICS_SCRAPE_TARGET__",
      "job"         = "__METRICS_PIPELINE_NAME__",
      "role"        = "vllm",
    },
  ]
  metrics_path    = "__METRICS_SCRAPE_PATH__"
  scrape_interval = "__METRICS_SCRAPE_INTERVAL__"
  scrape_timeout  = "__METRICS_SCRAPE_TIMEOUT__"
  forward_to      = __METRICS_FORWARD_TO__
}

otelcol.receiver.prometheus "vllm" {
  output {
    metrics = [otelcol.processor.batch.vllm.input]
  }
}

otelcol.processor.batch "vllm" {
  output {
    metrics = [otelcol.exporter.otlphttp.vllm.input]
  }
}

otelcol.exporter.otlphttp "vllm" {
  encoding = "proto"
  client {
    endpoint    = "__METRICS_OTLP_HTTP_ENDPOINT__"
    compression = "__METRICS_OTLP_COMPRESSION__"
    timeout     = "__METRICS_OTLP_TIMEOUT__"
    tls {
      insecure             = __METRICS_OTLP_INSECURE__
      insecure_skip_verify = __METRICS_OTLP_INSECURE_SKIP_VERIFY__
    }
  }
}
